<!DOCTYPE html>
<html>
<head>
    <title>Smart Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Smart Fitness Calculator </h2>

<form method="POST">
    <input type="number" name="weight" placeholder="Weight (kg)" required><br><br>
    <input type="number" name="height" placeholder="Height (cm)" required><br><br>

    <select name="goal">
        <option value="bulking">Bulking</option>
        <option value="cutting">Cutting</option>
    </select><br><br>

    <button type="submit">Calculate</button>
</form>

</body>
</html>